<input nz-input placeholder="Şehir arayın" [(ngModel)]="searchQuery" type="text" />
<button (click)="search()" >{{  'search' | transloco}}</button>
<ul>
  <li *ngFor="let city of filteredCities$ | async">
    {{ city.name }}
    <loading *ngIf="isLoading$ | async"></loading>
  </li>
</ul>
<ng-container *ngIf="filteredCities$ | async as filteredCities">
  <button *ngIf="filteredCities.length > 0" [style.display]="clearButton ? 'block' : 'none'" (click)="reset()">{{  'clean' | transloco}}</button>
</ng-container>

<div *ngIf="(filteredCities$ | async)?.length === 0">
  Sonuç bulunamadı.

